{{#each this}}
  <li class='gallery-list__item' data-id="{{id}}">
    <img
      class='poster'
      src="{{poster_path}}"
      alt="{{title}}"
      data-source="https://image.tmdb.org/t/p/w500{{backdrop_path}}"
    />

    <h3 class='film-card__name'>
      {{title}}
    </h3>
    <p class='film-card__genres'>
      {{#each genres}}
        <span class='film-card__genre'>
          {{this}}{{#unless @last}},{{/unless}}
        </span>
      {{/each}}
      | {{release_date}} <span class='film-card__vote_average'>{{vote_average}}</span>
    </p>
  </li>
{{/each}}