<div class='modal' data-action='{{id}}'>
  <button type='button' class='modal__close-button' data-action='modal-close'>
    <svg class="modal__close-btn-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
      <path stroke-width="2.133" stroke="#000" d="M8.533 8.533l14.933 14.933M8.533 23.467L23.466 8.534" />
    </svg>
  </button>
  <div class='modal__movie-img-wrapper'>
    <img
      class='modal__movie-img'
      src='https://image.tmdb.org/t/p/w500{{poster_path}}'
      alt={{original_title}}
    />
  </div>
  <div class='modal__movie-text-block'>
    <h2 class='modal__movie-title'>
      {{original_title}}
    </h2>
    <div class='modal__movie-data'>
      <ul class='modal__movie-data-list'>
        <li class='modal__data-list-item'>
          <p>Vote/Votes
            <span>{{vote_average}}/{{vote_count}}</span>
          </p>
        </li>
        <li class='movie__data-list-item'>
          <p>Popularity
            <span>{{popularity}}</span>
          </p>
        </li>
        <li class='movie__data-list-item'>
          <p>Original title
            <span>{{original_title}}</span>
          </p>
        </li>
        <li class='movie__data-list-item'>
          <p>Genre
            {{#each genres}}
              <span>{{name}}</span>
            {{/each}}
          </p>
        </li>
      </ul>
    </div>
    <div class='modal__movie-descr'>
      <p class='modal__movie-descr-title'>About</p>
      <p class='modal__movie-descr-text'>{{overview}}</p>
    </div>
  </div>
  <div class='modal__movie-buttons'>
    <button type='button' class='handle-button popup-button add-watched-js' data-action='add'>
      <span class='handle-button__title'>add to watched</span>
    </button>

    <button type='button' class='handle-button popup-button add-queue-js' data-action='add'>
      <span class='handle-button__title'>add to queue</span>
    </button>
  </div>
</div>