<div class='modal' data-action='{{id}}'>
  <button type='button' class='modal__close-button' data-action='modal-close'>
  </button>
  <div class='modal__movie-img-wrapper'>
    <img class='modal__movie-img' src={{poster_path}} alt={{original_title}} />
  </div>
  <div class='modal__movie-text-block'>
    <h2 class='modal__movie-title'>
      {{original_title}}
    </h2>
    <div class='modal__movie-data'>
      <ul class='modal__movie-data-list'>
        <li class='movie__data-list-item'>
          <p class='movie__data-title'>Vote/Votes</p>
          <span class='movie__data-subtitle--accent'>{{vote_average}}</span>
          <span class='movie__data-subtitle--dark-grey'>/</span>
          <span class='movie__data-subtitle--accent bg-grey'>{{vote_count}}</span>
        </li>
        <li class='movie__data-list-item'>
          <p class='movie__data-title'>Popularity</p>
          <span class='movie__data-subtitle'>{{popularity}}</span>
        </li>
        <li class='movie__data-list-item'>
          <p class='movie__data-title'>Original title</p>
          <span class='movie__data-subtitle'>{{original_title}}</span>
        </li>
        <li class='movie__data-list-item'>
          <p class='movie__data-title'>Genre</p>
          <p>
            {{#each genres}}
              <span class='movie__data-subtitle--genre'>{{name}}{{#unless @last}},{{/unless}}</span>
            {{/each}}
          </p>
        </li>
      </ul>
    </div>
    <div class='modal__movie-descr'>
      <p class='modal__movie-descr-title'>About</p>
      <p class='modal__movie-descr-text'>{{overview}}</p>
    </div>
    <div class='modal__movie-buttons'>
      <button
        type='button'
        class='handle-button popup-button handle-button__watched add-watched-js'
        data-action='add'
      >
        <span class='handle-button__title'>add to watched</span>
      </button>

      <button
        type='button'
        class='handle-button popup-button handle-button__queque add-queue-js'
        data-action='add'
      >
        <span class='handle-button__title'>add to queue</span>
      </button>
    </div>
  </div>
</div>