{{#if end}}
<li class="pagination-list__item"><a class="pagination-link" href="#" data-pagepagination="1">1</a></li>
<li class="pagination-list__item disabled"><a class="pagination-link" href="#" data-pagepagination="...">...</a></li>
{{/if}}
{{#if middle}}
<li class="pagination-list__item"><a class="pagination-link" href="#" data-pagepagination="1">1</a></li>
<li class="pagination-list__item disabled"><a class="pagination-link" href="#" data-pagepagination="...">...</a></li>
{{/if}}
{{#each pageList}}
<li class="pagination-list__item"><a class="pagination-link" href="#" data-pagepagination={{this}}>{{this}}</a></li>
{{/each}}
{{#if start}}
<li class="pagination-list__item disabled"><a class="pagination-link" href="#" data-pagepagination="...">...</a></li>
<li class="pagination-list__item"><a class="pagination-link" href="#" data-pagepagination={{maxPage}}>{{maxPage}}</a></li>
{{/if}}
{{#if middle}}
<li class="pagination-list__item disabled"><a class="pagination-link" href="#" data-pagepagination="...">...</a></li>
<li class="pagination-list__item"><a class="pagination-link" href="#" data-pagepagination={{maxPage}}>{{maxPage}}</a></li>
{{/if}}